{% extends 'main.html' %}
{% load static %}
{% block content %}

<main class="main_container main_container--form">
    <div class="form_wrapper">
        <section class="form">
            <div class="form_back_section">
                <div class="back_icon_container">
                    <i class="fa fa-angle-left"></i>
                    <a href="{% url 'addresses' %}"><p>Volver</p></a>
                </div>
            </div>

            <div class="form_header">
                <h1 class="title-form">Casa</h1>
            </div>

            {% if messages|length > 0 %}
                <div style="display: flex; justify-content: center;">
                    {% for message in messages %}
                        <div class="alert alert--{% if message.tags == 'error' %}error{% elif message.tags == 'success' %}success{% endif %}">
                            <p class="alert__message">{{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <form id="address-form" method="POST" class="disabled-form">
                {% csrf_token %}
                <div class="field input focused">
                    <label for="name_address" class="form-label">Nombre (Ej: Casa)</label>
                    <input type="text" id="name_address" name="name_address" value="Casa" required disabled>
                </div>

                <div class="field input focused">
                    <label for="address" class="form-label">Dirección</label>
                    <input type="text" id="address" name="address" value="Calle 159 #54 - 69" required disabled>
                </div>

                <div class="field input focused">
                    <label for="additional_info" class="form-label">Información adicional</label>
                    <textarea id="additional_info" name="additional_info" required disabled>Portus</textarea>
                    <span class="small">Ejemplo: Barrio, edificio, torre, apartamento</span>
                </div>

                <div class="field input select-search-box focused">
                    <select id="depto" class="search-box" name="depto" option="Departamento" required disabled>
                        <option value="" selected disabled>Departamento</option>
                        <option value="depto1">Depto 1</option>
                        <option value="depto2">Depto 2</option>
                    </select>
                </div>

                <div class="field input select-search-box focused">
                    <select id="city" class="search-box" name="city" required disabled>
                        <option value="" selected disabled>Ciudad</option>
                        <option value="city1">Ciudad 1</option>
                        <option value="city2">Ciudad 2</option>
                    </select>
                </div>

                <div class="field input focused">
                    <label for="user_phone" class="form-label">Teléfono</label>
                    <input type="tel" id="user_phone" name="user_phone" value="1234567890" required disabled>
                    <span class="small">Solo te llamaremos si tenemos alguna duda sobre tu pedido.</span>
                </div>
                
                <div class="field button mt-2">
                    <div class="wrapper-edit-button focused">
                      <input id="editDataForm" type="button" value="Editar dirección" class="valid" aria-invalid="false">
                      
                      <div class="link mt-4">
                        <a id="delet-address" onclick="showModal()">Eliminar dirección</a>
                      </div>
                    </div>
                    <div class="wrapper-submit-button hidden">
                      <div class="link"><a id="cancel-edit-form">Cancelar</a></div>
                      <input class="mt-2" type="submit" value="Guardar Cambios">
                    </div>
                </div>
            </form>
        </section>
    </div>
</main>

<!-- Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="hideModal()"></span>
      <div class="modal-header text-center">
        <h3>Eliminar dirección</h3>
        <p class="mt-1">¿Estás seguro que deseas eliminar la siguiente dirección?<br><br>
          <b>Casa, calle 159 # 54 - 69</b> <!-- Cambiar por variables -->
        </p>
      </div>
      <div class="button-container form mt-2">
        <form id="deleteForm" method="POST" action=""><!--Agregar Action-->
            {% csrf_token %}
            <div class="field button">
              <input type="submit" value="Si, Eliminar dirección" class="button">
            </div>
        </form>
        <div class="link"><a onclick="hideModal()">Cancelar</a></div>
      </div>
    </div>
  </div>

{% endblock %}