{% extends 'main.html' %}
{% load static %}
{% block content %}

<main class="main_container main_container--checkout main_container--form not-background">
    <section class="page-section section-xl form">
        <form id="checkout-form" method="POST">
            <div class="user-info">
                <div class="page-header mb-2">
                    <h1 class="page-title">Detalle del envío</h1>
                    <p>Por favor, ingresa la información de envío para completar tu compra.</p>
                </div>
                
                <div class="field-checkbox mb-2">
                    <input type="checkbox" id="use-account" name="use-account" value="usar cuenta">
                    <label for="use-account" class="form-label">Usar los datos de mi cuenta</label>
                </div>

                <div class="form-group mb-2">
                    <h4 class="form-group-title">Datos de contacto</h4>
                    <div class="field input">
                        <label for="name" class="form-label">Nombre y apellido</label>
                        <input type="text" id="name" name="name" value="" required>
                    </div>
                    <div class="field input">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" id="email" name="email" value="" required>
                    </div>
                    <div class="field input">
                        <label for="phone" class="form-label">Teléfono</label>
                        <input type="number" id="phone" name="phone" value="" required>
                    </div>
                </div>

                <div class="form-group mb-2">
                    <h4 class="form-group-title">Dirección de envío</h4>
                    <div class="field input">
                        <label for="address" class="form-label">Dirección</label>
                        <input type="text" id="address" name="address" value="" required>
                    </div>
                    <div class="field input">
                        <label for="additional_info" class="form-label">Información adicional</label>
                        <textarea id="additional_info" name="additional_info" value="" required></textarea>
                        <span class="small">Ejemplo: Barrio, edificio, torre, apartamento</span>
                    </div>
                    <div class="field input select-search-box">
                        <select id="depto" class="search-box" name="depto" option="Departamento" required>
                            <option value="" selected disabled>Departamento</option>
                            <option value="depto1">Depto 1</option>
                            <option value="depto2">Depto 2</option>
                        </select>
                    </div>
                    <div class="field input select-search-box">
                        <select id="city" class="search-box" name="city" required>
                            <option value="" selected disabled>Ciudad</option>
                            <option value="city1">Ciudad 1</option>
                            <option value="city2">Ciudad 2</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <h4 class="form-group-title">Tipo de envío</h4>
                    <div class="radio_inputs_container">
                        <div class="row">
                            <p><input checked="" name="tipo-envio" type="radio" value="mensual">Mensual</p>
                            <p>GRATIS</p>
                        </div>
                        <div class="row">
                            <p><input name="tipo-envio" type="radio" value="quincenal">Quincenal</p>
                            <p>$10.000</p>
                        </div>
                    </div>
                </div>
            </div>

            <aside class="cart-summary mt-4">
                <h4 class="cart-summary-title mb-2">Resumen del pedido</h4>
                <div class="cart-summary-total-items">
                    <span class="summary-label">3 productos</span>
                    <span class="product-value">$400.000</span>
                </div>
                <div class="cart-summary-delivery-total">
                    <span class="summary-label">Envío</span>
                    <span class="delivery-value green">Gratis</span>
                </div>
                <div class="cart-summary-price-total">
                    <span class="summary-label"><b>Total</b></span>
                    <span class="delivery-value green"><b>$400.000</b></span>
                </div>

                <div class="promocional-code mt-2">
                    <h5>¿Tienes un código promocional?</h5>
                    <div class="wrapper-code">
                        <div class="field input">
                            <label for="promo-code" class="form-label">Código</label>
                            <input type="text" id="promo-code" name="promo-code" value="">
                        </div>
                        <div class="field button">
                            <button type="button" class="button" id="PromoCode" onclick="validPromoCode()">Aplicar</button>
                        </div>
                    </div>
                </div>

                <div class="payment-method form-group mt-2">
                    <h4 class="form-group-title">Método de pago</h4>
                    <div class="radio_inputs_container">
                        <div class="row">
                            <p><input name="metodo-pago" type="radio" value="pse">PSE</p>
                        </div>
                    </div>
                </div>

                <div class="field-checkbox mt-2 mb-2">
                    <input type="checkbox" id="accept-tyc" name="accept-tyc" value="Acepta TyC">
                    <label for="accept-tyc" class="form-label">Acepto los <a href="#">términos y condiciones</a></label>
                </div>

                <div class="field button">
                    <div class="wrapper-submit-button">
                        <input id="payOrder" type="submit" value="Pagar">
                    </div>
                </div>

                <div class="order-detail form-group mt-2">
                    <h4 class="form-group-title">Tu pedido</h4>
                    <div class="cart-item-group">
                        <div class="item">
                            <div class="item-image">
                                <img src="{% static 'images/contact_detail_image2.svg' %}" alt="">
                            </div>
                            <div class="item-attributes">
                                <div class="item-name">
                                    <p><b>Pollo campesino, Frutas & Verduras Frescas</b></p>
                                </div>
                                <div class="item-price">
                                    <p>$300.000 mensual</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-image">
                                <img src="{% static 'images/contact_detail_image2.svg' %}" alt="">
                            </div>
                            <div class="item-attributes">
                                <div class="item-name">
                                    <p><b>Pollo campesino, Frutas & Verduras Frescas</b></p>
                                </div>
                                <div class="item-price">
                                    <p>$300.000 mensual</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </aside>
        </form>
    </section>
</main>

{% endblock %}