{% extends 'main.html' %}
{% load static %}
{% block content %}

{% if page == 'register' %}

<div class="main_container">
    <div class="main_form_container">
        <div class="wrapper">
          <section class="form login">
              {% comment %} <div class="form_back_section">
                <div class="back_icon_container">
                  <i class="fas fa-arrow-left"></i>
                  <p>Volver</p>
                </div>
              </div> {% endcomment %}

            

              <header>Registrate</header>
                <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                  <div class="field input">
                      {% comment %} <label>Usuario</label> {% endcomment %}
                      <input type="text" name="email" placeholder="Email" value="">
                  </div>
                  <div class="field input">
                      {% comment %} <label>Contrasenia</label> {% endcomment %}
                      <input type="password" name="password" placeholder="Password">
                      {% comment %} <i class="fas fa-eye"></i> {% endcomment %}
                  </div>

                  <div class="field input">
                    {% comment %} <label>Contrasenia</label> {% endcomment %}
                    <input type="password" name="password" placeholder="Confirm password">
                    {% comment %} <i class="fas fa-eye"></i> {% endcomment %}
                </div>
  
                  <div class="field button">
                      <input type="submit" value="Continuar">
                  </div>
                  
              </form>
              <div class="link">Ya tienes una cuenta? <a href="{% url 'login' %}">Ingresa</a></div>
          </section>
      </div>
    </div>  
</div>

{% else %}

<div class="main_container">
  <div class="main_form_container">
      <div class="wrapper">
        <section class="form login">
            {% comment %} <div class="form_back_section">
              <div class="back_icon_container">
                <i class="fas fa-arrow-left"></i>
                <p>Volver</p>
              </div>
            </div> {% endcomment %}

            {% for message in messages %}
            <div style="display: flex; justify-content: center;">
                <div class="alert alert--{{message.tags}}">
                    <p class="alert__message">{{message}}</p>
                </div>
            </div>
            {% endfor %}

            <header>Inicia sesion</header>
              <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
                <div class="field input">
                    {% comment %} <label>Usuario</label> {% endcomment %}
                    <input type="text" name="email" placeholder="Email" value="">
                </div>
                <div class="field input">
                    {% comment %} <label>Contrasenia</label> {% endcomment %}
                    <input type="password" name="password" placeholder="Password">
                    {% comment %} <i class="fas fa-eye"></i> {% endcomment %}
                </div>

                <div class="field button">
                    <input type="submit" value="Continuar">
                </div>
                
            </form>
            <div class="link">No tienes cuenta? <a href="{% url 'register' %}">Registrate</a></div>
        </section>
    </div>
  </div>  
</div>

{% endif %}
{% endblock %}