{% extends 'main.html' %}
{% load static %}

{% block content %}

<main class="main_container main_container--form">
    <div class="form_wrapper">
      <section class="form">
        <form method="POST" id="edit-pet-form" class="disabled-form">
          {% csrf_token %}


          <div class="multistep_form_tabs">
              <div class="form_back_section">
                <div class="back_icon_container">
                    <i class="fa fa-angle-left"></i>
                    <a href="{% url 'list-pets' %}"><p>Volver</p></a>
                </div>
              </div> 

              <div class="form_header">
                <h3>{{ puppy.name }}</h3>
                <p>Aquí puedes ver, editar y actualizar los datos de tu Forever Dog.</p>
              </div>

              <div class="form_name_input">
                <div class="field input focused">
                    <label for="input_name" class="form-label">Nombre de tu mascota</label>
                    <input type="text" name="name" value="{{ puppy.name }}" id="input_name" onchange="getName();" required disabled>
                </div>
              </div>

              <div class="form_age_sex_input two-fields">
                <div class="field input focused">
                    <label for="age" class="form-label">Edad</label>
                    <input id="age" type="number" name="age" value="{{ puppy.age }}" required disabled>
                </div>

                <div class="field input input_age_type">
                    <select id="age-type" name="age_type" option="años" required disabled>
                        <option value="" selected disabled>Meses / Años</option>
                        <option value="meses" {% if puppy.age_type == 'meses' %}selected{% endif %}>Meses</option>
                        <option value="años" {% if puppy.age_type == 'años' %}selected{% endif %}>Años</option>
                    </select>
                </div>
              </div>

              <div class="field input focused">
                <label class="form-label">Estado reproductivo</label>
                <select id="pet-state" name="reproductive_state" option="castrado" required disabled>
                    <option value="" disabled>Estado reproductivo</option>
                    <option value="castrado" {% if puppy.reproductive_state == 'castrado' %}selected{% endif %}>Estirilizado, todo bajo control</option>
                    <option value="entero" {% if puppy.reproductive_state == 'entero' %}selected{% endif %}>Entero, en su mejor momento</option>
                </select>
              </div>

              <div class="form_breed_input">
                <div class="field input select-search-box focused">
                    <label for="breed" class="form-label">Raza</label>
                    <input list="breed" name="breed" placeholder="Raza" value="{{ puppy.breed }}" disabled>
                </div>
              </div>

              <div class="form_breed_sex_input">
                <div class="field input">
                    <select id="sex" name="sex" required disabled>
                        <option value="" selected disabled>Sexo</option>
                        <option value="hembra" {% if puppy.sex == 'hembra' %}selected{% endif %}>Hembra</option>
                        <option value="macho" {% if puppy.sex == 'macho' %}selected{% endif %}>Macho</option>
                    </select>
                </div>
              </div>

              <div class="wrapper-radios">
                <div class="field input breed-input focused">
                  <label class="form-label">Actividad diaria</label>
                  {% if puppy.activity_level == 'bajo' %}
                    <input value="Hogareño" disabled>
                  {% elif puppy.activity_level == 'medio' %}
                    <input value="Paseador" disabled>
                  {% elif puppy.activity_level == 'Alto' %}
                    <input value="Atleta" disabled>
                  {% endif %}
                </div>

                <div class="radio_inputs_container__activity hidden">
                  <p>
                      <input type="radio" name="activity_level" value="bajo" class="activity_input" onClick="changeImg(this.value);" {% if puppy.activity_level == "bajo" or not puppy.activity_level %}checked{% endif %}>Hogareño</input>
                  </p>
                  <p>
                      <input type="radio" name="activity_level" value="medio" class="activity_input" onClick="changeImg(this.value);" {% if puppy.activity_level == "medio" %}checked{% endif %}>Paseador</input>
                  </p>
                  <p>
                      <input type="radio" name="activity_level" value="alto" class="activity_input" onClick="changeImg(this.value);" {% if puppy.activity_level == "alto" %}checked{% endif %}>Atleta</input>
                  </p>
                </div>
              </div>

              <div class="field input focused">
                <label for="weight" class="form-label">Peso (en Kilos)</label>
                <input type="number" id="id_weight" name="weight" value="{{ form.weight.value|floatformat:0 }}" required disabled>
              </div>

              <div class="form_allergies_input">
                <div class="field input focused">
                  <label class="form-label">Alergias</label>
                  <select id="id_allergies" name="allergies" required disabled>
                      <option value="" selected disabled>Alergias</option>
                      {% for allergy in form.allergies.field.choices %}
                      <option value="{{allergy.0}}" {% if allergy.0 == form.allergies.value %}selected{% endif %}>{{allergy.1}}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form_needs_input">
                <div class="field input focused">
                  <label class="form-label">Patologías</label>
                  <select name="{{form.special_needs.name}}" id="{{form.special_needs.id_for_label}}" required disabled>
                      <option value="" selected disabled>Patologías</option>
                      {% for option in form.special_needs.field.choices %}
                          <option value="{{ option.0 }}" {% if form.special_needs.value == option.0 %}selected{% endif %}>{{ option.1 }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

              <div class="field button focused mt-2">
                <div class="wrapper-edit-button focused">
                  <input id="editDataForm" type="button" value="Editar información" class="valid" aria-invalid="false">
                  <a class="link-button mt-1" href="#">Editar menú</a>
                  <div class="link mt-4">
                    <a id="delet-pet" onclick="showModal('{{ puppy.id }}')">Eliminar mascota</a>
                  </div>
                </div>
                <div class="wrapper-submit-button hidden">
                  <div class="link"><a id="cancel-edit-form">Cancelar</a></div>
                  <input class="mt-2" type="submit" value="Guardar Cambios">
                </div>
              </div>

          </div>

        </form>
      </section>
    </div>
</main>


<!-- Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="hideModal()"></span>
    <div class="modal-header text-center">
      <h3>Eliminar mascota</h3>
      <p class="mt-1">¿Estás seguro que deseas eliminar a {{ puppy.name }}?<br>
        Perderás el seguimiento de su progreso con Forever Dog</p>
    </div>
    <div class="button-container form mt-2">
      <form id="deleteForm" method="POST" action="{% url 'delete-pet' puppy.id %}">
          {% csrf_token %}
          <div class="field button">
            <input type="submit" value="Si, Eliminar mascota" class="button">
          </div>
      </form>
      <div class="link"><a onclick="hideModal()">Cancelar</a></div>
    </div>
  </div>
</div>

{% endblock %}