{% extends 'main.html' %}
{% load static %}

{% block content %}

<main class="main_container">
  <div class="main_form_container">
      <div class="wrapper">
        <section class="form login">
          <form method="POST">
            {% csrf_token %}


            <div class="multistep_form_tab">
                <div class="form_back_section">
                  <div class="back_icon_container">
                      <i class="fa fa-angle-left"></i>
                      <a href="{% url 'list-pets' %}"><p>Volver</p></a>
                  </div>
                </div> 

                <div class="form_header">
                  <h3>Datos generales de tu mascota</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                </div>

                <div class="form_name_input">
                  <div class="field input">
                    <input type="text" name="name" placeholder="Nombre" value="{{ puppy.name }}" id="input_name" onchange="getName();">
                  </div>
                </div>

                <div class="form_age_sex_input">
                  <div class="field input">
                    <input type="number" name="age" placeholder="Edad" value="{{ puppy.age }}">
                  </div>


                  <div class="field input input_age_type">
                    <select id="sex" name="age_type" option="años">
                      <option value="años">Años</option>
                      <option value="meses">Meses</option>
                    </select>                     
                  </div>
                </div>

                <div class="field input">
                  <select id="sex" name="reproductive_state" placeholder="Estado" option="castrado">
                    <option value="castrado">Castrado</option>
                    <option value="entero">Entero</option>
                  </select>                     
                </div>

                <div class="form_breed_input">
                  <div class="field input">
                    <input list="breed" name="breed" placeholder="Raza" value="{{ puppy.breed }}">
                    <datalist id="breed">
                    <option value="">select</option>
                      {% for breed in breeds %}
                        <option value="{{ breed.name }}">{{ breed.name }}</option>
                      {% endfor %}
                    </datalist> 
                  </div>
                </div>

                <div class="field button">
                  {% comment %} <input type="submit" value="Continuar"> {% endcomment %}
                  <button type="button" id="nextBtn" onclick="nextPrev(1)">Continuar</button>
                </div>

                <div class="link"><a href="{% url 'login' %}">Cancelar</a></div>
            </div>



            
            <div class="multistep_form_tab">
              <div class="form_back_section">
                <div class="back_icon_container">
                    <i class="fa fa-angle-left"></i>
                    <button type="button" onclick="nextPrev(-1)" class="multistep_form_back_button"><p>Volver</p></button>
                </div>
              </div> 

              <div class="form_header">
                <h3>¿Consume alimentación natural?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
              </div>

              
              <div class="radio_inputs_container">


                <p>
                  {% if puppy.is_barf_active == 'yes' %}
                    <input type="radio" name="natural_food" value="yes" checked>Si</input>
                  {% else %}
                    <input type="radio" name="natural_food" value="yes">Si</input>
                  {% endif %}
                </p>
                <p>
                  {% if puppy.is_barf_active == 'no' %}
                    <input type="radio" name="natural_food" value="no" checked>No</input>
                  {% else %}
                    <input type="radio" name="natural_food" value="no">No</input>
                  {% endif %}
                </p>

              </div>

              <div class="field button">
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Continuar</button>
              </div>

              <div class="link"><a href="{% url 'login' %}">Cancelar</a></div>
          </div>


          <div class="multistep_form_tab">
            <div class="form_back_section">
              <div class="back_icon_container">
                  <i class="fa fa-angle-left"></i>
                  <button type="button" onclick="nextPrev(-1)" class="multistep_form_back_button"><p>Volver</p></button>
              </div>
            </div> 

            <div class="form_header">
              <h3>Actividad</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            </div>

            
            <div class="radio_inputs_container__activity">
              <p>
                {% if puppy.activity_level == 'bajo' %}
                  <input type="radio" name="activity_level" value="bajo" class="activity_input" onClick="changeImg(this.value);" checked>Sedentario</input>
                {% else %}
                  <input type="radio" name="activity_level" value="bajo" class="activity_input" onClick="changeImg(this.value);">Sedentario</input>
                {% endif %}
              </p>
              <p>
                {% if puppy.activity_level == 'medio' %}
                  <input type="radio" name="activity_level" value="medio" class="activity_input" onClick="changeImg(this.value);" checked>Activo</input>
                {% else %}
                  <input type="radio" name="activity_level" value="medio" class="activity_input" onClick="changeImg(this.value);">Activo</input>
                {% endif %}
              </p>
              <p>
                {% if puppy.activity_level == 'alto' %}
                  <input type="radio" name="activity_level" value="alto" class="activity_input" onClick="changeImg(this.value);" checked>Muy activo</input>
                {% else %}
                  <input type="radio" name="activity_level" value="alto" class="activity_input" onClick="changeImg(this.value);">Muy activo</input>
                {% endif %}
              </p>
            </div>

            <div class="activity_image_container">
              <img src="{% static 'images/sedentario.svg' %}" id="activity_image_container">
            </div>

            <div class="field button">
              <button type="button" id="nextBtn" onclick="nextPrev(1)">Continuar</button>
            </div>

            <div class="link"><a href="{% url 'login' %}">Cancelar</a></div>
        </div>




        <div class="multistep_form_tab">
          <div class="form_back_section">
            <div class="back_icon_container">
                <i class="fa fa-angle-left"></i>
                <button type="button" onclick="nextPrev(-1)" class="multistep_form_back_button"><p>Volver</p></button>
            </div>
          </div> 

          <div class="form_header">
            <h3>Peso</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
          </div>

          <div class="carousel_container">

            <div class="arrow_container left_arrow_container">
              <i class="fa fa-angle-left" id="left" onClick="changeImgCarousel(this.id);"></i>
            </div>

            <div class="carousel">
              <div class="carousel-item active">
                <img id='muy_delgado' src="{% static 'images/muy_delgado.svg' %}" class="body_image">
              </div>

              <div class="carousel-item">
                <img id='delgado' src="{% static 'images/delgado.svg' %}" class="body_image">
              </div>   
              
              <div class="carousel-item">
                <img id='peso_ideal' src="{% static 'images/ideal.svg' %}" class="body_image">
              </div>  

              <div class="carousel-item">
                <img id='sobrepeso' src="{% static 'images/sobrepeso.svg' %}" class="body_image">
              </div>  
            </div>

            <div class="arrow_container right_arrow_container">
              <i class="fa fa-angle-right"  id="next" onClick="changeImgCarousel(this.id);"></i>
            </div>

          </div>

          <input id="input_weight_image" name='body_image' type="hidden" value="{{ puppy.body_image }}">

          <div class="field input">
            {{ form.weight }}
          </div>

          <div class="field button">
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Continuar</button>
          </div>

          <div class="link"><a href="{% url 'login' %}">Cancelar</a></div>
        </div>
          



        <div class="multistep_form_tab">
          <div class="form_back_section">
            <div class="back_icon_container">
                <i class="fa fa-angle-left"></i>
                <button type="button" onclick="nextPrev(-1)" class="multistep_form_back_button"><p>Volver</p></button>
            </div>
          </div> 

          <div class="form_header">
            <h3>Alergias y necesidades</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
          </div>

          <div class="form_breed_input">
            <div class="field input">
              {{form.allergies}}
            </div>
          </div>

          <div class="form_breed_input">
            <div class="field input">
              {{form.special_needs}}
            </div>
          </div>

          {% if request.user.is_authenticated %}
            <div class="field button">
              <input type="submit" value="Completar" class="btn" />
            </div>
          {% else %}
            <div class="field button">
              <button type="button" id="nextBtn" onclick="nextPrev(1)">Continuar</button>
            </div>
          {% endif %}

          <div class="link"><a href="{% url 'login' %}">Cancelar</a></div>
      </div>


      {% if not request.user.is_authenticated %}
          <div class="multistep_form_tab contact_detail_tab">
            <div class="form_back_section">
              <div class="back_icon_container">
                <i class="fa fa-angle-left"></i>
                <button type="button" onclick="nextPrev(-1)" class="multistep_form_back_button"><p>Volver</p></button>
            </div>
            </div> 

            <div class="form_header_image">
              <img src="{% static 'images/contact_detail_image2.svg' %}">
            </div>


            <div class="form_header">
              <h3>¡Ya tenemos la dieta perfecta para <span id="name_container"></span>!</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            </div>

            <div class="form_name_input">
              <div class="field input">
                <input type="text" name="name_contact" placeholder="Nombre dueño" value="">
              </div>
            </div>

            <div class="form_name_input">
              <div class="field input">
                <input type="text" name="email_contact" placeholder="Correo electrónico" value="">
              </div>
            </div>

            <div class="field button">
              <input type="submit" value="Conocer dieta" class="btn" />
            </div>

            <div class="link"><a href="{% url 'login' %}">Cancelar</a></div>
          </div>

      {% endif %}



          </form>
        </section>
      </div>
    </div>  
</main>

{% endblock %}