{% extends 'main.html' %}
{% load static %}

{% block content %}


<form class="form" method="POST" >
  {% csrf_token %}
    <h1 class="text-center">Form</h1>
    <!-- Progress bar -->
    <div class="progressbar">
      <div class="progress" id="progress"></div>
      
      <div
        class="progress-step progress-step-active"
        data-title="Intro"
      ></div>
      <div class="progress-step" data-title="Age"></div>
      <div class="progress-step" data-title="Activity"></div>
      <div class="progress-step" data-title="Weight"></div>
      <div class="progress-step" data-title="form"></div>
    </div>

    <!-- Steps -->
    <div class="form-step form-step-active">
      <div class="input-group">
        <label for="position">nombre de tu mascota</label>
        {{form.name}}
      </div>
      <div class="">
        <a href="#" class="btn btn-next width-50 ml-auto">Next</a>
      </div>
    </div>
    <div class="form-step">
      <div class="input-group">
        <label for="phone">Age</label>
        {{form.age}}
      </div>

      <div class="input-group">
        <label for="phone">Raza</label>

        <input list="breed">
        <datalist id="breed">
        <option value="">select</option>
          {% for breed in breeds %}
            <option value="{{ breed.name }}">{{ breed.name }}</option>
          {% endfor %}
        </datalist> 


      </div>
      <div class="btns-group">
        <a href="#" class="btn btn-prev">Previous</a>
        <a href="#" class="btn btn-next">Next</a>
      </div>
    </div>
    <div class="form-step">

      <label for="dob">Activity level</label>
      <div class="body_image-select">
        <input type="checkbox" id="myCheckbox1" name="activity_level" value="1" />
        <label for="myCheckbox1"><img src="{% static 'images/activity_level_1.jpeg' %}" alt="" />sedentario</label>

        <input type="checkbox" id="myCheckbox2" name="activity_level" value="2" />
        <label for="myCheckbox2"><img src="{% static 'images/activity_level_2.jpeg' %}" alt="" />activo</label>

        <input type="checkbox" id="myCheckbox3" name="activity_level" value="3" />
        <label for="myCheckbox3"><img src="{% static 'images/activity_level_3.jpeg' %}" alt="" />muy activo</label>

      </div>


      {% comment %} <div class="input-group">
        <label for="dob">Activity level</label>
        {{form.activity_level}}
      </div> {% endcomment %}



      <div class="input-group">
        <label for="ID">Reproductive state</label>
        {{form.reproductive_state}}
      </div>
      <div class="btns-group">
        <a href="#" class="btn btn-prev">Previous</a>
        <a href="#" class="btn btn-next">Next</a>
      </div>
    </div>





    <div class="form-step">


      <label for="body_image">Estado Fisico</label>
      <div class="body_image-select">
        <input type="checkbox" id="myCheckbox1" name="body_image" value="1" />
        <label for="myCheckbox1"><img src="{% static 'images/dog_state_1.jpeg' %}" alt="" />muy delgado</label>

        <input type="checkbox" id="myCheckbox2" name="body_image" value="2" />
        <label for="myCheckbox2"><img src="{% static 'images/dog_state_2.jpeg' %}" alt="" />delgado</label>

        <input type="checkbox" id="myCheckbox3" name="body_image" value="3" />
        <label for="myCheckbox3"><img src="{% static 'images/dog_state_3.jpeg' %}" alt="" />peso ideal</label>

        <input type="checkbox" id="myCheckbox4" name="body_image" value="4" />
        <label for="myCheckbox4"><img src="{% static 'images/dog_state_4.jpeg' %}" alt="" />sobrepeso</label>

        {% comment %} <div class="checkbox-wrapper">
          <input type="checkbox" name="body_image" value="1" />
          <img src="{% static 'images/dog_state_1.jpeg' %}" alt="" />
        </div> {% endcomment %}

        {% comment %} <div>
          <input type="checkbox">

          <img src="{% static 'images/dog_state_1.jpeg' %}" alt="" />
        </div> {% endcomment %}



      </div>





      {% comment %} <div class="input-group">
        <label for="password">Estado Fisico</label>
        {{form.body_image}}
      </div> {% endcomment %}


      <div class="input-group">
        <label for="ID">Weight</label>
        {{form.weight}}
      </div>
      <div class="btns-group">
        <a href="#" class="btn btn-prev">Previous</a>
        <a href="#" class="btn btn-next">Next</a>
      </div>
    </div>
    <div class="form-step">
      <div class="input-group">
        <label for="username">Owner name</label>
        {{form.owner}}
      </div>
      <div class="btns-group">
        <a href="#" class="btn btn-prev">Previous</a>
        <input type="submit" value="Submit" class="btn" />
      </div>
    </div>
  </form>

{% endblock %}