{% extends 'main.html' %}


{% block content %}


<form class="form" method="POST" >
  {% csrf_token %}
    <h1 class="text-center">Form</h1>
    <!-- Progress bar -->
    <div class="progressbar">
      <div class="progress" id="progress"></div>
      
      <div
        class="progress-step progress-step-active"
        data-title="Intro"
      ></div>
      <div class="progress-step" data-title="Age"></div>
      <div class="progress-step" data-title="Activity"></div>
      <div class="progress-step" data-title="Weight"></div>
    </div>

    <!-- Steps -->
    <div class="form-step form-step-active">
      <div class="input-group">
        <label for="username">Owner name</label>
        {{form.owner}}
      </div>
      <div class="input-group">
        <label for="position">pet name</label>
        {{form.name}}
      </div>
      <div class="">
        <a href="#" class="btn btn-next width-50 ml-auto">Next</a>
      </div>
    </div>
    <div class="form-step">
      <div class="input-group">
        <label for="phone">Age</label>
        {{form.age}}
      </div>

      <div class="input-group">
        <label for="phone">Raza</label>
        <select name="breed" id="breed">
        <option value="">select</option>
          {% for breed in breeds %}
            <option value="{{ breed.name }}">{{ breed.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="btns-group">
        <a href="#" class="btn btn-prev">Previous</a>
        <a href="#" class="btn btn-next">Next</a>
      </div>
    </div>
    <div class="form-step">
      <div class="input-group">
        <label for="dob">Activity level</label>
        {{form.activity_level}}
      </div>
      <div class="input-group">
        <label for="ID">Reproductive state</label>
        {{form.reproductive_state}}
      </div>
      <div class="btns-group">
        <a href="#" class="btn btn-prev">Previous</a>
        <a href="#" class="btn btn-next">Next</a>
      </div>
    </div>
    <div class="form-step">
      <div class="input-group">
        <label for="password">Body image</label>
        {{form.body_image}}
      </div>
      <div class="input-group">
        <label for="ID">Weight</label>
        {{form.weight}}
      </div>
      <div class="btns-group">
        <a href="#" class="btn btn-prev">Previous</a>
        <input type="submit" value="Submit" class="btn" />
      </div>
    </div>
  </form>

{% endblock %}