{% extends 'main.html' %}
{% load static %}
{% load humanize %}
{% block content %}



<div class="main_container">
    <div class="main_form_container main_form_container__diet">
        <div class="wrapper diet_wrapper">
            <section class="form login  diet_container">

                {% if menus %}
                    {% for menu in menus %}
                    <div class="diet_data_container">
                        
                        <h2 class="menu_title">{{ menu.name }}</h2>

                        <div class="menu_data__description">
                            <p class="menu_data__description--text">{{ menu.description }}</p>
                        </div>

                        <div class="menu_data__description">
                            <p class="menu_data__description--text">{{ menu.ingredients_description }}</p>
                        </div>

                        <div class="menu_data__nutrition">
                        {% for k,v in menu.nutrition_information.items %}
                            <p class="menu_data__nutrition--text">{{ k }} {{ v }}%</p>
                        {% endfor %}
                        </div>
                        
                        {% if menu.prices %}
                            {% for pet_name,data in menu.prices.items %}
                            <div class="menu_data__price">
                                <p class="total_grams_container__text"><img src="{% static 'images/calendar.svg' %}"><strong>{{pet_name}}</strong> necesita {{data.grams}} gr díarios</p>   
                                <p class="total_grams_container__text"><img src="{% static 'images/food_can.svg' %}">2 porciones: {% widthratio data.grams 2 1 %} grms c/u</p> 
                                <p class="prices_container__text price_month">${% widthratio data.price 1 30 as price_month %}{{ price_month|intcomma }} Mensual</p>         
                                <p class="prices_container__text">${{data.price|intcomma}} al día</p>        
                                
                                <button class="add-btn update-cart">Agregar al carrito</button>

                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="diet_data_container">
                            
                        <h2 class="menu_title">{{ menu.name }}</h2>

                        <div class="menu_data__description">
                            <p class="menu_data__description--text">{{ menu.description }}</p>
                        </div>

                        <div class="menu_data__description">
                            <p class="menu_data__description--text">{{ menu.ingredients_description }}</p>
                        </div>

                        <div class="menu_data__nutrition">
                        {% for k,v in menu.nutrition_information.items %}
                            <p class="menu_data__nutrition--text">{{ k }} {{ v }}%</p>
                        {% endfor %}
                        </div>
                        
                        {% if menu.prices %}
                            {% for pet_name,data in menu.prices.items %}
                            <div class="menu_data__price">
                                <p class="total_grams_container__text"><img src="{% static 'images/calendar.svg' %}"><strong>{{pet_name}}</strong> necesita {{data.grams}} gr díarios</p> 
                                <p class="total_grams_container__text"><img src="{% static 'images/food_can.svg' %}">2 porciones: {% widthratio data.grams 2 1 %} grms c/u</p> 
                                <p class="prices_container__text price_month">${% widthratio data.price 1 30 as price_month %}{{ price_month|intcomma }} Mensual</p>         
                                <p class="prices_container__text">${{data.price|intcomma}} al día</p>
                                
                                <button class="add-btn update-cart">Agregar al carrito</button>

                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                
                {% endif %}


            </section>
        </div>
    </div>  
</div>
{% endblock %}