/* Elements */
hr {
  background: var(--text-color);
  border: 0;
  height: 1px;
  margin: 4rem 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

figure {
  border: 1px solid var(--primary-color);
  display: inline-block;
  padding: 1rem;
  width: 100%;
}

figure img {
  margin: 0 auto;
}

figure figcaption {
  font-size: 80%;
  margin-top: 0.5rem;
  text-align: center;
}

ul,
ol {
  margin: 2rem 0;
  padding: 0 0 0 4rem;
}

dl dd {
  padding-left: 2rem;
}

table {
  border: 1px solid var(--primary-color);
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

table caption {
  margin: 2rem 0;
}

table tr {
  border-bottom: 1px solid var(--primary-color);
}

table tbody tr:nth-child(even) {
  background: var(--tertiary-color);
}

table th {
  background: var(--secondary-color);
  font-weight: bold;
}

table th,
table td {
  padding: 1rem;
}

table th:not(last-of-type),
table td:not(last-of-type) {
  border-right: 1px solid var(--primary-color);
}

input {
  appearance: none;
  border: 1px solid var(--text-color);
  display: block;
  margin: 0.5rem 0;
  padding: 0.8rem;
}

input:focus,
input:active {
  background-color: var(--secondary-color);
  border-color: var(--link-color);
}