{% extends 'main.html' %}

{% block content %}
<style>
  .pet-options {
    display: flex;
    flex-direction: column;
  }
  .pet-options a,
  .pet-options button {
    margin-bottom: 5px;
  }
</style>
<main class="main_container pt-0">
    <section class="page-section">
        <div class="page-header">
            <h1 class="page-title">Mis forever dog</h1>
            <p>Crea una cuenta y sé parte de la manada Forever Dog</p>
        </div>

        <div class="list-wrapper mt-2">
            {% if pets|length == 1 %}
            <ul class="options-list center-list mb-2">
            {% elif pets|length > 1%}
            <ul class="options-list grid-list mb-2">
            {% endif %}
                {% for pet in pets %}
                <li class="item-list">
                    <a href="{% url 'edit-pet' pet.id %}" class="blue-card">{{pet.name}}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="wrapper-button">
                <a class="add-pet-button" href="/dishes/"></a>
            </div>
        </div>
    </section>

    <!--<div class="main_form_container">
        <div class="wrapper">
            <section class="form login">
                <table class="breed-table">
                    <tr>
                        <th>Name</th>
                        <th>options</th>
                        <th>Menu</th>
                        <th>Menu options</th>
                    </tr>
                    {% for pet in pets %}
                    <tr>
                        <td><a href="{% url 'edit-pet' pet.id %}">{{pet.name}}</a> </td>
                        <td>
                            <div class="pet-options">
                                <a href="{% url 'edit-pet' pet.id %}">Edit</a>
                                <button class="botton" style="background-color: red;color: white;cursor: pointer;border: none;padding: 5px; border-radius: 10px; margin-left:5px;" onclick="showModal('{{ pet.id }}')">Delete</button>
                            </div>
                        </td>
                        <td>{{pet.menu.name}}</td>
                        <td><a href="{% url 'edit-pet-menu' pet.id %}">Change menu</a></td>
                    </tr>
                    {% endfor %}
                </table>-->

                <!-- Modal -->
                <!--<div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close" style="cursor: pointer;">&times;</span>
                        <p>Are you sure you want to delete this pet?</p>
                        <div class="button-container">
                            <form id="deleteForm" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Yes" class="button">
                            </form>
                            <button class="button" style="cursor: pointer;border: none;padding: 5px;" onclick="hideModal()">No</button>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>-->
</main>



{% endblock %}
