/* top bar */

.header {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.2s ease-out;
  transition-property: background-color;

  nav {
    flex-basis: 100%;
  }

  &.open {
    background-color: var(--accent-color);

    .hamburguer {
      span{
        background-color: var(--primary-color);
        transform: rotate(135deg);
  
        &:nth-child(2) {
          transform: rotate(-135deg);
        }
      }
  
      &::before,
      &::after {
        background-color: var(--accent-color);
      }
    }
  }
}

:root {
--hamburguer-height: 2px;
--hamburguer-width: 34px;
}

.hamburguer {
  border: 0;
  background-color: transparent;
  padding: 0;
  
  span {
    background-color: var(--accent-color);
    display: block;
    height: var(--hamburguer-height);
    transition: all 0.2s ease-in;
    transition-property: transform, background-color;
    width: var(--hamburguer-width);

    &:nth-child(2) {
      margin-top: calc(var(--hamburguer-height) * -1);
    }
  }

  &::before,
  &::after {
    background-color: var(--accent-color);
    border: 0;
    content: '';
    display: block;
    height: var(--hamburguer-height);
    width: var(--hamburguer-width);
    transition: all 0.2s ease-out;
    transition-property: background-color;
  }

  &::before {
    margin-bottom: 9px;
  }

  &::after {
    margin-top: 9px;
  }
}