{% extends 'main.html' %}
{% load static %}
{% block content %}

<main class="main_container main_container--home">
  <div class="home-wrapper hero">
    <section class="page-section full-height no-height-mobile hero">
      <div class="wrapper-text">
        <h1>Estamos cambiando la vida de tu mejor amigo, <b>un bocado a la vez</b></h1>
        <a href="https://wa.me/573006235504?text=Hola!%20me%20gustaria%20saber%20sobre%20foreverdog" class="link-button">Contactanos</a>
      </div>
    </section>
  </div>

  <div class="home-wrapper how-it-works">
    <section class="page-section full-height" id="how-it-works">
      <div class="header-section">
        <h2>Pedir en Forever Dog es tan fácil como decir: <b>¡guau!</b></h2>
      </div>
      <div class="owl-carousel">
        <div class="card">
          <span class="number">1</span>
          <div class="icon-wrapper">
            <img src="/static/images/howitworks-step-1.svg">
          </div>
          <p>
            <b>Cuéntanos sobre tu Forever Dog.</b>  No te tomará más 2 minutos. Con esta información crearemos su <i>dieta personalizada</i>.
          </p>
        </div>
        <div class="card">
          <span class="number">2</span>
          <div class="icon-wrapper">
            <img src="/static/images/howitworks-step-2.svg">
          </div>
          <p>
            <b>Crearemos una dieta específica para sus necesidades, estilo y etapa de vida.</b> Usamos ingredientes naturales y de calidad.
          </p>
        </div>
        <div class="card">
          <span class="number">3</span>
          <div class="icon-wrapper">
            <img src="/static/images/howitworks-step-3.svg">
          </div>
          <p>
            <b>Mejor para ellos, más fácil para ti:</b> envío gratis, dieta porcionada, lista para descongelar y servir.
          </p>
        </div>
      </div>
    </section>
  </div>

  <!-- <div class="home-wrapper">
    <section class="page-section dots-over dots-white" id="meet-our-dogtor">
      <div class="owl-carousel">
        <div class="wrapper-banner light-blue">
          <div class="image-content">
            <img src="/static/images/meetOurDogtor-banner-1.svg">
          </div>
          <div class="text-content">
            <h3>Conoce a nuestro Dogtor</h3>
            <p>
              Inicia tu plan hoy y recibe una consulta veterinaria para tu mejor amigo. ¡Pst!: <b>es gratis</b>.
            </p>
            <a href="/dishes">Empezar ahora</a>
          </div>
        </div>

        <div class="wrapper-banner olive-green">
          <div class="image-content">
            <img src="/static/images/meetOurDogtor-banner-1.svg">
          </div>
          <div class="text-content">
            <h3>Conoce a nuestro Dogtor</h3>
            <p>
              Inicia tu plan hoy y recibe una consulta veterinaria para tu mejor amigo. ¡Pst!: <b>es gratis</b>.
            </p>
            <a href="/dishes">Empezar ahora</a>
          </div>
        </div>

        <div class="wrapper-banner light-yellow">
          <div class="image-content">
            <img src="/static/images/meetOurDogtor-banner-1.svg">
          </div>
          <div class="text-content">
            <h3>Conoce a nuestro Dogtor</h3>
            <p>
              Inicia tu plan hoy y recibe una consulta veterinaria para tu mejor amigo. ¡Pst!: <b>es gratis</b>.
            </p>
            <a href="/dishes">Empezar ahora</a>
          </div>
        </div>
      </div>
    </section>
  </div>
-->
  <div class="home-wrapper bg-blue-dark mt-less-8">
    <section class="page-section full-height" id="why-choose">
      <div class="header-section">
        <h2>¿Por qué elegir Forever Dog?</h2>
      </div>
      <div class="owl-carousel">
        <div class="card">
          <img src="/static/images/whyChoose-icon-card-1.svg">
          <p>Emoción al comer. Platos limpios</p>
        </div>
        <div class="card">
          <img src="/static/images/whyChoose-icon-card-2.svg">
          <p>Disminuye el sarro y mal aliento.</p>
        </div>
        <div class="card">
          <img src="/static/images/whyChoose-icon-card-3.svg">
          <p>Pelo más brillante.</p>
        </div>
        <div class="card">
          <img src="/static/images/whyChoose-icon-card-4.svg">
          <p>Piel más sana.</p>
        </div>
      </div>
      <a href="https://wa.me/573006235504?text=Hola!%20me%20gustaria%20saber%20sobre%20foreverdog" class="link-button mt-4">Contactanos</a>
    </section>
  </div>

  <div class="home-wrapper bg-white">
    <section class="page-section full-height" id="testimonials">
      <div class="header-section">
        <h2>Lo que dice la manada</h2>
        <p>Historias de salud y felicidad: testimonios de la manada alimentados con Forever Dog</p>
      </div>
      <div class="owl-carousel">
        <div class="card">
          <div class="image-content">
            <img src="/static/images/iris_no_fondo_5.png">
          </div>
          <div class="text-content">
            <h3>Iris</h3>
            <p>Ahora amo el momento de la comida. Mi estómago se desinflamó, dejé de tener gases, mi popó no tiene olor y es más consistente, mi pelo se puso brillante y mi peso se reguló.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-content">
            <img src="/static/images/tin_tin.png">
          </div>
          <div class="text-content">
            <h3>Tin Tín</h3>
            <p>El concetrado me sentaba fatal. Tenía alergias, popó blanda y mi pelaje no tenía brillo. Después de rendirse con diferentes marcas, mis papás descubrieron Forever Dog y ahora mi piel, dientes, pelaje y popó están perfectos.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-content">
            <img src="/static/images/tuco.png">
          </div>
          <div class="text-content">
            <h3>Tuco</h3>
            <p>La hora de comer me daba terror. Podía pasar un día entero sin acercarme a mi plato y esto estaba afectando mi ánimo y salud. Desde que probé Forever Dog por primera vez, dejo el plato limpio y no puedo esperar para repetir.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-content">
            <img src="/static/images/testimonials-dog-4.png">
          </div>
          <div class="text-content">
            <h3>Matty</h3>
            <p>Mi aliento, mi peso y el brillo de mi pelo mejoraron muchísimo. Como soy una perrita adulta mi energía era muy baja, pero desde que me alimentan con ForeverDog soy más activa y mis dolores en la cadera disminuyeron.</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="home-wrapper">
    <section class="page-section full-height" id="frequent-questions">
      <div class="header-section">
        <h2>No te quedes con la duda</h2>
        <p>Las respuestas que buscas sobre la alimentación de tu perro están aquí</p>
      </div>
      <div id="wrapper-accordion">
        <div class="accordion">
          <button class="accordion-tab">¿Quién formula las dietas?</button>
          <div class="panel">
            <p>Contamos con dos nutricionistas veterinarias certificadas que supervisan la creación de cada fórmula y receta, son expertas en nutrición natural y la prevención de enfermedades a través de la alimentación. Mejor dicho, no podrías contar con mejores aliadas para formular la dieta de tu Forever Dog.</p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion-tab">¿Los perros pueden comer carne cruda?</button>
          <div class="panel">
            <p>Sí, el 98% del ADN del perro es igual al del lobo. Los perros son carnívoros facultativos, esto quiere decir que desde sus dientes hasta su sistema digestivo está preparado para razgar, morder y descomponer  los alimentos crudos como lo hacían sus antepesados. Al consumir los alimentos crudos, pueden absorber mucho mejor los nutrientes, ya que al cocinarlos se desnaturalizan las proteínas y gran parte de los aminoácidos se destruyen.</p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion-tab">¿Voy a notar cambios en mi perro?</button>
          <div class="panel">
            <p>Es completamente normal que tu Forever Dog experimente algún cambio durante la transición. No te asustes si bebe menos agua, sus heces son más blandas o si está un poco estreñido. Puedes aprender más sobre estos cambios aquí.</p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion-tab">¿Puedo hacerle cambios a la dieta de mi Forever Dog?</button>
          <div class="panel">
            <p>Al crear tu perfil en Forever Dog, tienes el control total de su dieta, puedes ajustar su peso, sus necesidades especiales y su menús.</p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion-tab">¿Cómo almacenar la dieta de mi Forever Dog?</button>
          <div class="panel">
            <p>Para conservar nuestros menús debes mantenerlos congelados. Sube al refrigerador 2 horas antes únicamente la porción que vas a darle. Si olvidas subirlas al refrigerador, puedes usar el microondas en la función de descongelar.</p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion-tab">¿Cómo funcionan los planes de suscripción?</button>
          <div class="panel">
            <p>Nuestras dietas son personalizadas y crudas para cada necesidad nutricional de tu Forever Dog. El envío siempre es gratuito. Los menús se entregan porcionados y congelados en tu puerta según la frecuencia de entrega que elijas: semanal, quincenal o mensual.</p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion-tab">¿Cuánto tiempo puede manterse fresca la comida de Forever Dog?</button>
          <div class="panel">
            <p>Nuestros menús son naturales y frescos, por lo que deben mantenerse refrigerados o congelados. Una vez descongelada una porción, debe consurmirse o en caso de no hacerlo, guardarse en el refrigerador por un tiempo máximo de 18 horas. Nuestras dietas pueden durar congeladas sin perder nutrientes hasta 30 días.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
</main>

{% endblock %}