{% extends 'main.html' %}
{% load static %}
{% block content %}

<main class="main_container main_container--home">
  <div class="home-wrapper hero">
    <section class="home-section full-height no-height-mobile hero">
      <div class="wrapper-text">
        <h1>Estamos cambiando la vida de tu mejor amigo, <b>un bocado a la vez</b></h1>
        <a href="/dishes" class="link-button">Descubre su dieta</a>
      </div>
    </section>
  </div>

  <div class="home-wrapper how-it-works">
    <section class="home-section full-height" id="how-it-works">
      <h2>Pedir en Forever Dog es tan fácil como decir: <b>¡guau!</b></h2>
      <div class="owl-carousel">
        <div class="card">
          <span class="number">1</span>
          <div class="icon-wrapper">
            <img src="/static/images/howitworks-step-1.svg">
          </div>
          <p>
            <b>Cuéntanos sobre tu Forever Dog.</b>  No te tomará más 2 minutos. Con esta información crearemos su <i>dieta personalizada</i>.
          </p>
        </div>
        <div class="card">
          <span class="number">2</span>
          <div class="icon-wrapper">
            <img src="/static/images/howitworks-step-2.svg">
          </div>
          <p>
            <b>Crearemos una dieta específica para sus necesidades, estilo y etapa de vida.</b> Usamos ingredientes naturales y de calidad.
          </p>
        </div>
        <div class="card">
          <span class="number">3</span>
          <div class="icon-wrapper">
            <img src="/static/images/howitworks-step-3.svg">
          </div>
          <p>
            <b>Mejor para ellos, más fácil para ti:</b> envío gratis, dieta porcionada, lista para descongelar y servir.
          </p>
        </div>
      </div>
      <a href="/dishes" class="link-button">Descubre su dieta</a>
    </section>
  </div>

  <div class="home-wrapper">
    <section class="home-section dots-over dots-white" id="meet-our-dogtor">
      <div class="owl-carousel">
        <div class="wrapper-banner light-blue">
          <div class="image-content">
            <img src="/static/images/meetOurDogtor-banner-1.svg">
          </div>
          <div class="text-content">
            <h3>Conoce a nuestro Dogtor</h3>
            <p>
              Inicia tu plan hoy y recibe una consulta veterinaria para tu mejor amigo. ¡Pst!: <b>es gratis</b>.
            </p>
            <a href="/dishes">Empezar ahora</a>
          </div>
        </div>

        <div class="wrapper-banner olive-green">
          <div class="image-content">
            <img src="/static/images/meetOurDogtor-banner-1.svg">
          </div>
          <div class="text-content">
            <h3>Conoce a nuestro Dogtor</h3>
            <p>
              Inicia tu plan hoy y recibe una consulta veterinaria para tu mejor amigo. ¡Pst!: <b>es gratis</b>.
            </p>
            <a href="/dishes">Empezar ahora</a>
          </div>
        </div>

        <div class="wrapper-banner light-yellow">
          <div class="image-content">
            <img src="/static/images/meetOurDogtor-banner-1.svg">
          </div>
          <div class="text-content">
            <h3>Conoce a nuestro Dogtor</h3>
            <p>
              Inicia tu plan hoy y recibe una consulta veterinaria para tu mejor amigo. ¡Pst!: <b>es gratis</b>.
            </p>
            <a href="/dishes">Empezar ahora</a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="home-wrapper bg-blue-dark mt-less-8">
    <section class="home-section full-height" id="why-choose">
      <h2>¿Por qué elegir Forever Dog?</h2>
      <div class="owl-carousel">
        <div class="card">
          <img src="/static/images/whyChoose-icon-card-1.svg">
          <p>Emoción al comer. Platos limpios</p>
        </div>
        <div class="card">
          <img src="/static/images/whyChoose-icon-card-2.svg">
          <p>Disminuye el sarro y mal aliento.</p>
        </div>
        <div class="card">
          <img src="/static/images/whyChoose-icon-card-3.svg">
          <p>Pelo más brillante.</p>
        </div>
        <div class="card">
          <img src="/static/images/whyChoose-icon-card-4.svg">
          <p>Piel más sana.</p>
        </div>
      </div>
      <a href="/dishes" class="link-button mt-4">Empieza ahora</a>
    </section>
  </div>

  <div class="home-wrapper bg-white">
    <section class="home-section full-height" id="testimonials">
      <h2>Lo que dicen de nosotros</h2>
      <div class="owl-carousel">
        <div class="card">
          <div class="image-content">
            <img src="/static/images/testimonials-dog-1.png">
          </div>
          <div class="text-content">
            <h3>Orión</h3>
            <p>Mi pelo se ve hermoso y creo que ahora me siento mucho más feliz.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-content">
            <img src="/static/images/testimonials-dog-2.png">
          </div>
          <div class="text-content">
            <h3>Franklin</h3>
            <p>Mi pelo se ve hermoso y creo que ahora me siento mucho más feliz.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-content">
            <img src="/static/images/testimonials-dog-3.png">
          </div>
          <div class="text-content">
            <h3>Rex</h3>
            <p>Mi pelo se ve hermoso y creo que ahora me siento mucho más feliz.</p>
          </div>
        </div>
        <div class="card">
          <div class="image-content">
            <img src="/static/images/testimonials-dog-4.png">
          </div>
          <div class="text-content">
            <h3>Amadeus</h3>
            <p>Mi pelo se ve hermoso y creo que ahora me siento mucho más feliz.</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="home-wrapper">
    <section class="home-section full-height" id="frequent-questions">
      <h2>Preguntas frecuentes</h2>
      <div id="wrapper-accordion">
        <div class="accordion">
          <button class="accordion-tab">¿Quién formula las dietas?</button>
          <div class="panel">
            <p>Contamos con dos nutricionistas veterinarias certificadas que supervisan la creación de cada fórmula y receta, son expertas en nutrición natural y la prevención de enfermedades a través de la alimentación. Mejor dicho, no podrías contar con mejores aliadas para formular la dieta de tu Forever Dog.</p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion-tab">¿Los perros pueden comer carne cruda?</button>
          <div class="panel">
            <p>Sí, el 98% del ADN del perro es igual al del lobo. Los perros son carnívoros facultativos, esto quiere decir que desde sus dientes hasta su sistema digestivo está preparado para razgar, morder y descomponer  los alimentos crudos como lo hacían sus antepesados. Al consumir los alimentos crudos, pueden absorber mucho mejor los nutrientes, ya que al cocinarlos se desnaturalizan las proteínas y gran parte de los aminoácidos se destruyen.</p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion-tab">¿Voy a notar cambios en mi perro?</button>
          <div class="panel">
            <p>Es completamente normal que tu Forever Dog experimente algún cambio durante la transición. No te asustes si bebe menos agua, sus heces son más blandas o si está un poco estreñido. Puedes aprender más sobre estos cambios aquí.</p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion-tab">¿Puedo hacerle cambios a la dieta de mi Forever Dog?</button>
          <div class="panel">
            <p>Al crear tu perfil en Forever Dog, tienes el control total de su dieta, puedes ajustar su peso, sus necesidades especiales y su menús.</p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion-tab">¿Cómo almacenar la dieta de mi Forever Dog?</button>
          <div class="panel">
            <p>Para conservar nuestros menús debes mantenerlos congelados. Sube al refrigerador 2 horas antes únicamente la porción que vas a darle. Si olvidas subirlas al refrigerador, puedes usar el microondas en la función de descongelar.</p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion-tab">¿Cómo funcionan los planes de suscripción?</button>
          <div class="panel">
            <p>Nuestras dietas son personalizadas y crudas para cada necesidad nutricional de tu Forever Dog. El envío siempre es gratuito. Los menús se entregan porcionados y congelados en tu puerta según la frecuencia de entrega que elijas: semanal, quincenal o mensual.</p>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion-tab">¿Cuánto tiempo puede manterse fresca la comida de Forever Dog?</button>
          <div class="panel">
            <p>Nuestros menús son naturales y frescos, por lo que deben mantenerse refrigerados o congelados. Una vez descongelada una porción, debe consurmirse o en caso de no hacerlo, guardarse en el refrigerador por un tiempo máximo de 18 horas. Nuestras dietas pueden durar congeladas sin perder nutrientes hasta 30 días.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- <div class="home-wrapper">
    <section class="home-section">
      <h2>Beneficios de Forever Dog</h2>
      <div class="benefits-row">
        <div>
          Prolonga su expectativa de vida.
        </div>
        <div>
          Combate la obesidad.
        </div>
        <div>
          Disminuye el sarro y el mal aliento.
        </div>
      </div>
    </section>
  </div>

  <div class="home-wrapper">
    <section class="home-section">
      <h2>Nuestros menús</h2>
      <p>Contamos con 4 menús base que adaptamos con suplementación natural a las necesidades de cada Forever Dog:</p>
      <div>
        <h3>Pollo Criollo</h3>
        <p>Ideal para estómagos sensibles.</p>
      </div>
      <div>
        <h3>Res del campo</h3>
        <p>Ideal para ganancia de masa muscular</p>
      </div>
      <div>
        <h3>Cordero</h3>
        <p>Ideal para paladares exquisitos</p>
      </div>
      <div>
        <h3>Cerdo</h3>
        <p>Ideal para barrigas llenas</p>
      </div>
    </section>
  </div>

  <div class="home-wrapper">
    <section class="home-section">
      <h2>Nuestros ingredientes</h2>
      <p>Nuestras dietas están compuestas por:</p>
      <ul>
        <li><b>40%</b> de carne magra.</li>
        <li><b>40%</b> de hueso carnoso.</li>
        <li><b>10%</b> de vísceras.</li>
        <li><b>5%</b> de frutas.</li>
        <li><b>5%</b> de verduras.</li>
        <li>Sumplementos funcionales para mejorar su salud.</li>
      </ul>
      <p>Sin carbohidratos, cereales o aditivos.</p>
    </section>
  </div>

  <div class="home-wrapper">
    <section class="home-section">
      <h2>Nuestro proceso</h2>
      <ol>
        <li>Elegimos los mejores ingredientes  de origen animal y vegetal, todos, aptos para el consumo humano.</li>
        <li>Procesamos en nuestra cocina con todas las de la ley.</li>
        <li>Pesamos y porcionamos la dieta basada en los datos de tu Forever Dog.</li>
        <li>Guardamos y congelamos para evitar contaminación. Los ingredientes conservan el 100% de sus nutrientes, sin aditivos o conservantes.</li>
      </ol>
    </section>
  </div > -->
</main>

{% endblock %}