{% extends 'main.html' %}


{% block content %}

<main class="main_container">
    <div class="main_form_container">
        <div class="wrapper">
          <section class="form login">
                <a href="{% url 'menus-create' %}" style='color: white;'>Crear</a>
            
                <table class="breed-table">
                    <tr>
                        <th>Name</th>
                        <th>options</th>
                    </tr>
                    {% for menu in menus %}
                    <tr>
                        <td><a href="{% url 'menu-detail' menu.id %}">{{menu.name}}</a> </td>
                        <td>
                            <a href="{% url 'menus-update' menu.id %}">Edit</a>
                            <form method="POST" action="{% url 'menus-delete' menu.id %}">
                                {% csrf_token %}
                                <input type="submit" value="Delete" class="botton" style="background-color: red;color: white;cursor: pointer;border: none;padding: 5px;" />
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>



        </section>
    </div>
  </div>  
</main>


{% endblock %}