{% load static %}

<div class="footer-container">
    <div class="footer-container_box">
        <div class="footer_image_container">
            <img src="{% static 'images/main_logo.svg' %}" alt="Forever Dog logo" width="100" class="footer_image">
        </div>

        <div class="footer_media_image_container">
            <a href="https://www.instagram.com/forever_dog_food/"><img src="{% static 'images/instagram_logo.svg' %}" alt="instagram" class="footer_media_image"></a>
        </div>

        <div class="footer_links_account_container" style='height: 0px !important; '>
        </div>

        <div class="footer_bottom">
            <div class="footer_bottom__right">
                <p>©  2022  Forever Dog. Todos los Derechos reservados</p>
            </div>
        </div>
    </div>
</div>
