<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,600&display=swap');
    </style> 

    <link rel="stylesheet" href="{% static 'libs/owlCarousel2-2.3.4/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'libs/niceSelect/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/variables.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/nav-bar.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/multistep-form.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/menus.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/menu-selection.css' %}" />
    <script src="https://kit.fontawesome.com/1ce4185475.js" crossorigin="anonymous"></script>
    <title>{{page.capitalize}} - Forever Dog ©</title>
</head>
<body>
    {% include 'nav-bar.html' %}

    {% comment %} {% if messages %}
        {% for message in messages %}
        <div style="display: flex; justify-content: center;">
            <div class="alert alert--{{message.tags}}">
                <p class="alert__message">{{message}}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %} {% endcomment %}

    {% comment %} <div style="display: flex; justify-content: center;">
        <div class="alert alert--error error-txt">
            <p class="alert__message">username or password is incorrect</p>
        </div>
    </div> {% endcomment %}

    {% block content %}

    {% endblock content %}

    {% include 'footer.html' %}
</body>
<script src="{% static 'libs/jQuery/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'libs/owlCarousel2-2.3.4/owl.carousel.min.js' %}"></script>
<script src="{% static 'libs/jqueryValidate/jquery.validate.min.js' %}"></script>
<script src="{% static 'libs/jqueryValidate/additional-methods.min.js' %}"></script>
<script src="{% static 'libs/niceSelect/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
</html>