.diet_title {
    font-weight: 700;
    margin-bottom: 10px;
    color: black;
}

.diet-card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.diet-card-list .diet-card {
    min-width: 300px;
    background: #fff;
    border-radius: 8px;
    padding: 2rem 1.5rem;
    position: relative;
}
.diet-card-list .diet-card h2 {
    font-size: 1.38rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.diet-card-list .diet-card img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
}
.diet-card-list .diet-card a {
    color: var(--light-blue);
    text-decoration: underline;
    transition: .5s all ease;
}
.diet-card-list .diet-card a:hover {
    color: var(--curuba);
}
.diet-card-list .diet-card.select-option.checked{
    border: 1px solid var(--black-font);
}
.diet-card-list .diet-card.select-option .check {
    top: .8rem;
    left: .8rem;
    width: 28px;
    height: 28px;
    position: absolute;
    border: 1px solid var(--black-font);
    border-radius: 50%;
    cursor: pointer;
}
.diet-card-list .diet-card.select-option.checked .check:after {
    content: '';
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background: var(--curuba);
    position: absolute;
    transform: translate(-50%, -50%);
}
.diet-card-list .select-option .diet-description {
    text-align: left;
    display: block;
    margin-bottom: 1rem;
}
.diet-card-list .select-option .diet-description p {
    font-size: .85rem;
    margin-bottom: 10px;
}
.diet-card-list .select-option .diet-description .price-month {
    font-size: 1.38rem;
    font-weight: 500;
}
.diet-card-list .select-option .diet-description .price-day {
    font-size: .7rem;
    margin-top: .4rem;
}
.diet-card-list .diet-card.select-option a {
    text-align: left;
    display: block;
}
.page-section .wrapper-button.button-buy-now {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

/*UNIQUE NEED BANNER*/
#unique-need .wrapper-banner {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    border-radius: 8px;
    background-color: var(--curuba);
}
#unique-need .wrapper-banner .text-content {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    padding: 2rem 2rem;
    text-align: left;
    align-self: center;
}
#unique-need .wrapper-banner .text-content a {
    margin-top: 1rem;
    font-weight: bold;
    text-decoration: underline;
}
#unique-need .wrapper-banner .image-content {
    flex: 1;
}
#unique-need .wrapper-banner .image-content img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#unique-need .wrapper-banner .text-content,
#unique-need .wrapper-banner .text-content a {
    color: var(--black-font);
}
.benefits-container {
    width: 100%;
}
.benefits-container #why-choose.page-section {
    padding: calc(var(--base-space) * 8) calc(var(--base-space) * 6);
}

.diet_data_container__grams_container {
    margin-top: 15px;
    width: 100%;
}

.diet_data_container__grams_container_ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
    list-style: none;
}

.diet_data_container__grams_container_ul li {
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
}

.diet_data_container__grams_container_ul li span {
    font-weight: 700;
    font-size: 18px;
}

.total_grams_container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
    /* padding: 20px; */
    width: 100%;
}

.total_grams_container p {
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.total_grams_container p img {
    margin-right: 10px;
}

.prices_container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.prices_container__text.price_month {
    color: black;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 900;
}

.menu_link a {
    color: blue !important;
}


@media screen and (max-width: 1080px) {
    .diet-card-list {
        grid-gap: 30px 20px;
    }
    .diet-card-list .diet-card {
        min-width: 250px;
        padding: 2rem 1.5rem;
    }
}

@media screen and (max-width: 780px) {
    .diet-card-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .diet-card-list {
        grid-template-columns: repeat(1, 1fr);
    }
    #unique-need .wrapper-banner{
        flex-direction: column;
    }
    #unique-need .wrapper-banner .image-content img {
        height: 200px;
    }
}